/* This file is used to style the website */

/* 定义字体 */
@font-face {
    font-family: MiSans;
    src: url(https://elofhew.github.io/fonts/MiSans-Regular.ttf);
}

@font-face {
    font-family: MiSans-Bold;
    src: url(https://elofhew.github.io/fonts/MiSans-Semibold.ttf);
}
/* 结束 */

/* 定义全局样式 */
body {
    background-color: lemonchiffon;
    margin: 0;
    padding: 0;
    font-family: MiSans; 
    background-image: url(https://elofhew.github.io/img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 45px;
    margin: 0 10px;
}

@media (min-width: 601px) {
    body {
        background-color: lemonchiffon;
        margin: 0;
        padding: 0;
        font-family: MiSans; 
        background-image: url(https://elofhew.github.io/img/bg2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 45px;
        margin: 0 10px;
    }
}

b {
    font-family: MiSans-Bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MiSans-Bold;
}

hr {
    background-color: #448AFF;
    max-width: 350px;
}

details {
    margin-left: 5px;
}

details p {
    color: black;
}

summary {
    outline: none;
}

a, a:visited {
    color: #00C853;
    text-decoration: none;
}

a:hover {
    color: #00e15e;
    text-decoration: underline;
}
/* 结束 */

/* 导航栏 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #448AFF;
    height: 40px;
    z-index: 1000; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content p {
    color: white;
    font-size: 16px;
    margin: 0;
    margin-right: 30px;
}
/* 结束 */

.about-div {
    text-align: center;
    color:gray;
}
/* 底部关于信息 */

/* 专门给游戏中心用的 */
.game-divs {
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: auto;
    background-color: rgba(184, 198, 255, 0.4);
}

.game-divs:hover {
    transform: scale(1.02);
}

.game-divs h2 {
    color:rgb(164, 89, 255);
    text-align: center;
}

.game-divs p {
    color:rgb(70, 135, 255);
    text-align: center;
}

.help-div {
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: auto;
    background-color: rgba(184, 255, 233, 0.4);
}

.game-content {
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: auto;
    background-color: rgba(190, 255, 184, 0.4);
    color:#555;
}

.game-content h4 {
    font-size: 18px;
    color: #448AFF;
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divcut {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 180px;
    text-align: left;
    margin: auto;
}
/* 结束 */

/* 主站划分板块 */
.block-divs {
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    margin: auto;
}

.block-divs:hover {
    transform: scale(1.02);
}

.block-divs h2 {
    font-size:20; 
    color:lightseagreen;
}
/* 结束 */

/* 按钮样式 */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(222, 184, 135);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 5px;
}

.button:hover {
    background-color:rgb(228, 191, 142);
}
/* 结束 */

/* 按钮/小框居中 */
.centerpst {
    text-align: center;
}

.centerpst .button {
    color: white;
    text-decoration: none;
}

.centerpst .button:hover {
    color: white;
}
/* 结束 */

/* 滚动文字 */
.scroll-pt {
    text-align: center;
}

.scroll-text {
    background-color: rgb(209, 196, 255, 0.8);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    color: purple;
    font-size: 14px;
    height: 30px;
    max-width: 500px;
}

.scroll-text p {
    margin: 0;
    padding: 0;
    display: inline;
}
/* 结束 */

.main-title {
    color:#448AFF;
    text-align: center;
    margin: 10px 0;
}
/* 主标题大字 */

/* END */